*{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*Inicio*/

body{
    background-color: black;
}

.circle-div{
    width: 100vw;
    height: 40vh;
    top: 10vh;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: 1s;
}

.circle{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: 1.5s;
}

button{
    width: 60vw;
    position: fixed;
    border: none;
    border-radius: .5rem;
    top: 45vh;
    right: 20vw;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    transition: .5s;
    font-weight: 600;
}

button:hover{
    background-color: rgb(219, 219, 219);
    width: 55vw;
    right: 22.5vw;
    padding: 1.75rem 2rem;
    font-size: 1.8rem;
}

.invisible{
    opacity: 0;
}

.no-visible{
    visibility: hidden;
    opacity: 0;
}

/*Animaciones*/

.animation1{
    width: 50vw;
    height: 50vw;
    top: 15vh;
    background-color: rgb(255, 148, 148);  
}

.animation2{
    width: 50rem;
    height: 70vh;
    top: 0;
    background-color: red;  
    border-radius: 0 0 50rem 50rem;
}

.circle-div-bigger{
    top: 0;
}

.circle-div-animation1{
    height: 40vh;
}

.circle-div-animation2{
    height: 100vh;
    border-radius: 0;
    transition: .5s;
}

/*Texto*/

.text{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    transition: 1s;
}

h2{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: white;
    padding-top: 5vh;
}

p{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin: 3rem;
    transition: .5s;
    text-align: center;
}

.disappear{
    height: 0;
}